@font-face {
    font-family: 'pm';
    src: url('../../assets/fonts/Poppins-Medium.woff') format('woff2'),
        url('../../assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'pb';
    src: url('../../assets/fonts/Poppins-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'pr';
    src: url('../../assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
